.div1{
    background-color: rgb(63, 61, 61);
    height: 350px;
    width: 100%;
    color: white;

}
.div1a{
    background-color: rgb(63, 61, 61);
    height: 350px;
    height: 50px;
    width: 350px;
    padding: 0;
    position: relative;
    top: 50px;
    left: 30px;
    
}
.div1b{
    background-color:  rgb(63, 61, 61);
    height: 350px;
    height: 150px;
    width: 200px;
    position: relative;
    left: 35px;
    top: 50px;
    line-height: 24px;
    
}
.div1c{
    background-color:  rgb(63, 61, 61);
    
    height: 20px;
    width: 180px;
    position: relative;
    left: 200px;
    top: -115px;
}
.div1d{
    position: relative;
    height: 20px;
    width: 180px;
    left: 500px;
    top: -250px;
    font-size: 20px;
    
}
.div1e{
    height: 5px;
    width: 250px;
    border-top: 2px solid white;
    position: relative;
    left: 500px;
    top: -240px;
    float: left;
}
.div1f{
    width: 100px;
    height: 20px;
    position: relative;
    left: 1000px;
    top: -290px;
    font-size: 20px;
}
.fblogo{
    position: relative;
    left: 1000px;
    top: -280px;
    display: inline-block;
    width: 50px;
    height: 50px;
}
.twitterlogo{
    position: relative;
    left: 1000px;
    top: -281px;
    display: inline-block;
    width: 50px;
    height: 50px;
}
.instalogo{
    position: relative;
    left: 990px;
    top: -281px;
    display: inline-block;
    width: 50px;
    height: 50px;
}
.imagegallery{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 75px;
    margin-right: 75px;
}
.saylanismalllogo{
    text-align: center;
}
.text{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 570px;
    margin-right: 520px;
    text-align: center;
    width: 200px;
}
.blue{
    color: rgb(52, 52, 189);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.green{
    color: rgb(50, 161, 50);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.whatwearedoing{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 450px;
    margin-right: 450px;
    text-align: center;
}
.boxesmain{
    display: inline-block;
    color: rgb(52, 52, 189);
    width: 1330px;
    height: 410px;
    text-align: center;
    
}
.boxes{
    width: 300px;
    height: 170px;
    display: inline-block;
    margin: 2px;
    margin-left: 50px;
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgb(184, 180, 180);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    
}
.bigboss1{
    width: 1330px;
    height: 550px;
    background-color: #F7F7FA;
}
.boxesimage{
    padding-top: 20px;
    width: 120px;
    height: 80px;
}
.vb{
    width: 1340px;
    height: 300px;
}
.INTRODUCTION{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 550px;
    margin-right: 550px;
    text-align: center;
}
.introductionmaterial{
    width: 1330;
    height: 500px;
   
    margin-left: 200px;
    margin-right: 200px;
    color: rgb(114, 112, 112);
    line-height: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}
.moving{
    width: 1000px;
    height: 25px;
    background-color:  rgb(52, 52, 189);
    color: white;
    line-height: 25px;
    
}
.bigimage{
    width: 1333;
}
.header{
    width: 100%;
    height: 50px;
    background-color: #3872B2;
}
.header img{
    margin-top: 10px;
    margin-left: 90px;
    margin-right: 70px;
    float: left;
}
.header p{
    padding-top: 15px;
    width: 490px;
    height: 20px;
    margin-left: 50px;
    margin-top: 3px;
    float: left;
}

.main{
    margin-left: 40px;
    width: 780px;
    height: 300px;
    float: left;
    margin-right: 40px;
   
}
.main2{
    
    width: 300px;
    height: 350px;
    float: left;
    margin-left: 40px;
}
.one , .two , .three , .four{
    
    width: 280px;
    height: 70px;
    display: inline-block;
    margin-left: 30px;
    background-color: #F7F7FA;
    margin-top: 20px;
    color: rgb(52, 17, 209);
    line-height: 40px;
    padding-left: 30px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.heading{  
    width: 500px;
    height: 70px;
    display: inline-block;
    margin: 5px;
    color: rgb(52, 17, 209);
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

img{
    vertical-align: middle;
}
.one2{
display: inline-block;
width: 260px;
height: 50px;

margin-left: 20px;
font-size: 25px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(52, 17, 209);

}
.two2{
    display: inline-block;
    width: 260px;
    height: 280px;
    margin-left: 20px;
    text-align: justify;
}
.div1dd{
    
    background-color: #F7F7FA;
    height: 50px;
    width: 1337px;
    position: fixed;
    line-height: 50px;
}

ul{
    margin: 0px;
    padding: 0px;
}
ul li{
    
    width: 80px;
    height: 30px;
    line-height: 30px;
    display: block;
    float: left;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    border-radius: 110px;
    text-align: center;
    
    

}
ul li a{
    text-decoration: none;
    font-size: l;
    color: rgb(0, 0, 0);
    
    
    
}
.active, .div1dd ul li:hover{
    background-color: rgb(76, 0, 255);
}
.active1 :hover{
color: white;

}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}
ul li:hover .div2dd ul li{
    background-color: #F7F7FA;
    border-radius: 0px;
    height: 30px;
    width: 130px;
    line-height: 30px;
    position: relative;
    right: 1px;
    top: 1px;
    padding-top: 0px;
    text-align: left;
    padding-left: 9px;
    
}
#saylaniservices{
    width: 120px;
}
#futureprojects{
    width: 100px;
}
.div2dd{
    border-top: 15px solid #F7F7FA;
}
#qwe :hover{
    color: rgb(9, 5, 255);  
    border-left: 3px solid blue; 
    padding-left: 7px;  
}

.div1dd img{
    float: left;
    margin-right: 450px;
    
}
.last{
    width: 100%;
    height: 40px;
    background-color:  rgb(52, 52, 189);
    line-height: 40px;
    color: white;
    font-size: small;
}